<h1>Welcome!</h1>
<p class="flow-text">Movie Lovers is a free service for finding folks with similar taste in movies.</p>
<p class="flow-text">Fill out our <a href="/survey">survey</a> to start matching with other people online!</p>
