<div class="">
	<h1>Welcome!</h1>
	<p class="flow-text">Friend Finder is a free service for finding folks with similar interests.</p>
	<p class="flow-text">Fill out our <a href="/survey">survey</a> to start matching with other people online!</p>
</div>
